[Unit]
Description=spark-streamer's 1'st thread
Requires=kafka.service clickhouse-server.service
After=kafka.service clickhouse-server.service

[Service]
Type=simple
LimitNOFILE=1617596
LimitNOFILESoft=1617596
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/hadoop/bin
Environment=JAVA_HOME=/usr/lib/jvm/default-java
ExecStart=/opt/start-stream-receiver-local.sh

[Install]
WantedBy=multi-user.target
